body {
	/* background: black; */
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/back.jpg);
	background-position: 50% 50%;
	color: white;
}

h1 {
	color: white;
	font-family: SrcCodePro;
	font-style: regular;
}

h3 {
	color: white;
	font-family: SrcCodePro;
	font-style: Light;
}

@font-face {
	font-family: "SrcCodePro";
	src: url("assets/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype"); 
} 


th {
	color: white;
	font-family: SrcCodePro;
	font-style: medium;
}

h2 {
	color: white;
	font-family: SrcCodePro;
	font-style: medium;
}

table {
	width: 13.5%;
	background: rgb(52,52,52)
}

a {
	color: rgb(0,192,255);
}
